<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="{{ page.tags | join: ', ' }}">
{% if site.owner.twitter %}<!-- Twitter Cards -->
	{% if page.image.feature %}
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:image" content=
			{% if page.image.feature contains 'http://' %}
				"{{ page.image.feature }}"
			{% elsif page.image.feature contains 'https://' %}
				"{{ page.image.feature }}"
			{% else %}
				"{{ site.url }}/images/{{ page.image.feature }}"
			{% endif %}
		>
	{% else %}
		<meta name="twitter:card" content="summary">
		<meta name="twitter:image" content=
			{% if page.image.thumb %}
				{% if page.image.thumb contains 'http://' %}
						"{{ page.image.thumb }}"
				{% elsif page.image.thumb contains 'https://' %}
					"{{ page.image.thumb }}"
				{% else %}
						"{{ site.url }}/images/{{ page.image.thumb }}"
				{% endif %}
			{% else %}
				{% if site.logo contains 'http://' %}
						"{{ site.logo }}"
				{% elsif site.logo contains 'https://' %}
					"{{ site.logo }}"
				{% else %}
						"{{ site.url }}/images/{{ site.logo }}"
				{% endif %}
			{% endif %}
		>
	{% endif %}
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="twitter:creator" content="@{{ site.owner.twitter }}">
{% endif %}

<!-- Open Graph -->
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.title }}">

{% if site.google_verify %}<!-- Webmaster Tools verfication -->
<meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}
{% if site.bing_verify %}<meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}

{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
<link rel="canonical" href="{{ canonical }}">
<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">
{% if site.owner.google_plus %}<link rel="author" href="http://plus.google.com/+{{ site.owner.google_plus }}?rel=author">{% endif %}

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Google Webfonts -->
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
<!-- For all browsers -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/main.min.css">

<meta http-equiv="cleartype" content="on">

<!-- HTML5 Shiv and Media Query Support -->
<!--[if lt IE 9]>
	<script src="{{ site.url }}/assets/js/vendor/html5shiv.min.js"></script>
	<script src="{{ site.url }}/assets/js/vendor/respond.min.js"></script>
<![endif]-->

<!-- Modernizr -->
<script src="{{ site.url }}/assets/js/vendor/modernizr-2.7.1.custom.min.js"></script>

<!-- Icons -->                                                                   
<!-- 16x16 -->                                                                   
<link rel="shortcut icon" href="{{ site.url }}/favicon.ico">                     
<!-- 32x32 -->                                                                   
<link rel="shortcut icon" href="{{ site.url }}/favicon.png">                     
<link rel="apple-touch-icon" href="{{ site.url }}/assets/img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/assets/img/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/assets/img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/assets/img/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/assets/img/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/assets/img/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/assets/img/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/assets/img/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/assets/img/apple-touch-icon-152x152.png">
<meta name="msapplication-square70x70logo" content="{{ site.url }}/assets/img/smalltile.png">
<meta name="msapplication-square150x150logo" content="{{ site.url }}/assets/img/mediumtile.png">
<meta name="msapplication-wide310x150logo" content="{{ site.url }}/assets/img/widetile.png">
<meta name="msapplication-square310x310logo" content="{{ site.url }}/assets/img/largetile.png">
