<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}
<!-- Get latest posts feature image -->
{% for post in site.posts limit:1 %}
  {% if post.image.feature %}<div class="image-wrap">
    <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">
      <img src="{{ site.url }}/images/{{ post.image.feature }}" alt="{{ post.title }} feature image" itemprop="primaryImageOfPage">
    </a>
      {% if post.image.credit %}
      <span class="image-credit">Photo Credit: 
        <a href="{{ post.image.creditlink }}">{{ post.image.credit }}</a>
      </span>
    {% endif %}
  </div><!-- /.image-wrap -->
  {% endif %}
{% endfor %}

<div class="article-author-side">
  {% include _author-bio.html %}
</div>

<div id="index">
  <h3><a href="{{ site.url}}/articles/">Articles</a></h3>
  {% for post in site.posts limit:5 %}    
  <article>
    {% if post.link %}
      <h2 class="link-post"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <a href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="icon-link"></i></h2>
    {% else %}
      <h2><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h2>
      <p>{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 120 }}{% endif %}</p>
    {% endif %}
  </article>
  {% endfor %}
</div><!-- /#index -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
  
</body>
</html>
